@import '@/app/_components/globals';

/** # textarea */
@mixin textarea-size($size) {
  height: map-get($size, height);
  padding: map-get($size, padding);
  font-size: map-get($size, font-size);
}

@mixin textarea-width($width) {
  width: map-get($width, width);
}

@mixin textarea-theme($theme) {
  background-color: map-get($theme, background-color);
  color: map-get($theme, color);
  border-radius: map-get($theme, border-radius);
}
