@import '@/styles/globals';
@import '@/styles/mixins';

.container {
  width: 440px;
  height: 335px;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 12px;
  border: 1px solid $gray-1;
  border-radius: 16px;
}

.dummyImg {
  width: 440px;
  height: 250px;
  border-radius: 16px;
  background-color: black;
}

.menu {
  @include pure-button;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  span {
    font-size: $font-2;
  }
}

.infoBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 440px;
}
