/** Color - black, white */
$black: #0000;
$white: #ffff;

/** Color - gray */
$gray-10: #1e1e1e;
$gray-9: #393939;
$gray-8: #4b4b4b;
$gray-7: #5e5e5e;
$gray-6: #727272;
$gray-5: #868686;
$gray-4: #9b9b9b;
$gray-3: #b0b0b0;
$gray-2: #c6c6c6;
$gray-1: #dddd;
$gray-0: #f3f3f3;

/** Color - purple */
$purple-9: #0000e6;
$purple-8: #2507eb;
$purple-7: #4312f0;
$purple-6: #5a1df8;
$purple-5: #6822ff; // primary
$purple-4: #854cff;
$purple-3: #9f70ff;
$purple-2: #bc9bff;
$purple-1: #d7c4fe;
$purple-0: #f0e7ff;

/** Color - green */
$green: #009b00;

/** Color - red */
$red-7: #de3428;
$red-5: #ff4a2e;
$red-3: #ef7771;

/** Color - primary */
$primary: #6822ff;
$primary-hover: #864eff;
$primary-pressed: #5218f6;
$primary-disabled: #c3a7ff;

/** Color - secondary */
$secondary: #727272;
$secondary-hover: #8e8e8e;
$secondary-pressed: #4b4b4b;
$secondary-disabled: #b7b7b7;

/** Color - error */
$error: #ff4a2e;
$error-hover: #ff6e58;
$error-pressed: #eb3d2a;
$error-disabled: #ffb7ab;

// xs (extra small)
// sm (small)
// md (medium)
// lg (large)
// xl (extra large)
// full (100%)

/** # textarea */
// 사이즈
$textarea-size-md: (
  height: 150px,
  padding: 20px 20px,
  font-size: 0.9rem,
);
$textarea-size-lg: (
  height: 350px,
  padding: 20px 30px,
  font-size: 1.1rem,
);

// 너비
$textarea-width-full: (
  width: 100%,
);

// 색상 테마
$textarea-theme-gray: (
  background-color: #d7d7d7,
  color: black,
  border-radius: 15px,
);
