@import '@/styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  display: flex;
  align-items: center;
  gap: 35px;

  .date {
    color: $gray-6;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 410px;
  background-color: $white;
  padding: 56px 63px;
}

.total_result {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 16px;
    margin-bottom: 10px;
  }

  p {
    font-size: $font-1;
  }
}

.highlight_score {
  color: $purple-5;
}

.total_score {
  margin-top: 20px;
  position: relative;
  width: 906px;
  height: 24px;
  border-radius: 100px;
  background-color: $purple-5;
}

.blank_first {
  position: absolute;
  left: 33%;
  background-color: $white;
  width: 11px;
  height: 100%;
}

.blank_second {
  position: absolute;
  left: 66%;
  background-color: $white;
  width: 11px;
  height: 100%;
}

.goal {
  position: absolute;
  top: 50%;
  left: 90%;
  width: 11px;
  transform: translate(0, -45%);
}

.score {
  position: absolute;
  top: 50%;
  left: 90%;
  width: 11px;
  transform: translate(0, -50%);
}

.practice_Link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 56px;
  padding: 10px 200px;
  background-color: $gray-9;
  border-radius: 12px;
  margin-top: 44px;

  h2 {
    color: $white;
  }
}
