@import '@/styles/globals';
@import '@/styles/mixins';

.container {
  position: relative;
  width: 100%;
  padding: 60px;
}

.contents {
  width: 1320px;
  height: 870px;
}

.presentation {
  width: 900px;
  height: 100%;
  border-radius: 15px;
  background: $purple-1;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 510px;
    margin-bottom: 40px;
  }
}

.helper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 240px;

  textarea {
    padding: 20px;
  }

  &__subtitle {
    font-size: $font-3;

    &--next {
      margin-left: 12px;
      color: $gray-10;
    }

    &--memo {
      display: block;
      margin-top: 4px;
      color: $gray-8;
      font-weight: 400;
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    margin-top: 12px;
    border-radius: 15px;
    background: $purple-1;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 100%;
  }
}

.script {
  width: 100%;
  height: 100%;

  &__box {
    width: 100%;
    height: 320px;
    padding: 20px;
    border: 1px solid $gray-1;
    border-radius: 15px;
  }
}

.bubble {
  position: absolute;
  top: 8px;
  left: 30%;
}
