@import '@/app/_components/mixins';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.singlePptPage {
  position: relative;
  width: 85px;
  height: 70px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.closeButton {
  @include pure-button;
  @include flex-center;

  position: absolute;
  top: 3px;
  right: 5px;
  width: 15px;
  height: 15px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.1s ease;

  &:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 100%);
  }
}

.addButton {
  @include pure-button;
  @include flex-center;

  display: inline-block;
  min-width: 85px;
  height: 70px;
  border: 1px solid black;
  border-radius: 15px;
}

.selected {
  border: 3px solid black;
}
