@import '@/app/_components/globals';
@import 'react-calendar/dist/Calendar.css';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.description {
  font-weight: bolder;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
}

.dDayInput {
  @include presentation-input;

  width: 60px;
  height: 40px;
  background-color: $tmp-backgroud-color;
}

.includeTodayDescription {
  color: $tmp-backgroud-color;
  font-size: 0.9rem;
}
