@import '@/styles/mixins';

.container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
}

.description {
  font-weight: bolder;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
}

.timerInput {
  width: 100%;
  width: 60px;
  height: 40px;
  padding: 0 20px;
  border: none;
  font-size: 0.9rem;
  border-radius: 15px;
  background-color: $tmp-backgroud-color;
}
