@import '@/app/_components/globals';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.description {
  font-size: 1.1rem;
  font-weight: bolder;
}

.pptUpdateSection {
  border-radius: 10px;
  width: 100%;
  height: 370px;
  margin-bottom: 30px;
}

.newPptSection {
  @include flex-center;

  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: $tmp-backgroud-color;
}

.updateButton {
  @include pure-button;

  background-color: #b6b6b6;
  width: 250px;
  border-radius: 30px;
  margin-top: 10px;

  p {
    font-size: 1rem;
    font-weight: bolder;
  }
}

.pptImageSection {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;

  .pptImage {
    border-radius: inherit;
  }

  .changePptImageButton {
    display: none;
  }

  &:hover {
    .changePptImageButton {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .pptImage {
      filter: blur(8px);
      transition: filter 0.3s ease;
    }
  }
}
