@import '@/styles/mixins';

.container {
  width: 100%;
}

.memoSection {
  position: relative;

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.description {
  margin-top: -10px;
  margin-bottom: 10px;
  color: $tmp-backgroud-color;
  font-size: 0.9rem;
}
