@import '@/styles/mixins';
@import 'react-calendar/dist/Calendar.css';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.description {
  font-weight: bolder;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
}

.dDayInput {
  width: 100%;
  width: 60px;
  height: 40px;
  padding: 0 20px;
  border: none;
  font-size: 0.9rem;
  border-radius: 15px;
  background-color: $tmp-backgroud-color;
}

.includeTodayDescription {
  color: $tmp-backgroud-color;
  font-size: 0.9rem;
}
