@import '@/styles/globals';
@import '@/styles/mixins';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1440px;
  height: 96px;
  border-bottom: 1px solid $gray-1;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 1440px;
}

.left {
  display: flex;
  align-items: center;
  gap: 30px;

  button {
    height: 100%;

    @include pure-button;

    font-size: 1.2rem;
    font-weight: 500;

    &.clicked {
      color: $primary;
      font-weight: 900;
      border-bottom: 2px solid $primary;
    }
  }
}

.right {
  display: flex;
  align-items: center;
}
