.container {
  min-width: 1440px;
  background-attachment: fixed;
  background-image: url('https://media.discordapp.net/attachments/1180406919098269696/1207958844555141161/Rectangle_20805.jpg?ex=65e18a57&is=65cf1557&hm=2a51b1de1f55361a8e833149009308721f17e9bea0e474ce40b09bb725a52ded&=&format=webp&width=1440&height=945');
}
