@import '@/styles/mixins';

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.list {
  display: flex;
  padding: 0;

  li {
    &:not(:last-child) {
      border-right: 1px solid #d9d9d9;
    }
  }
}

.menuButton {
  @include pure-button;

  color: #d9d9d9;
}
