@import '@/app/_components/globals';

.container {
  width: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.loginInput {
  display: flex;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid black;
  flex-direction: column;
  border-radius: 5px;

  label {
    font-size: 0.9rem;
  }

  &:focus-within {
    border: 2px solid black;
  }

  .input {
    height: 35px;
    border: none;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }
}

.submitButton {
  @include pure-button;

  height: 45px;
  border: none;
  color: white;
  margin-top: 10px;
  background-color: black;
}
